.wrapper {
  padding: 70px 0;
  background: var(--white);
}

.title {
  color: var(--black);
  padding-bottom: 120px;
  font-size: 60px;
}


.itemList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.item {
  max-width: 540px;
  width: 30%;
  padding: 30px 30px 0;
  margin-bottom: 50px;
  background: var(--lightgrey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  color: var(--black);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
}

.phone {
  background: url('/static/imgs/features/phone.png') 50% 100% no-repeat;
  background-size: contain;
  width: 100%;
  padding: 48%;
  position: relative;
  overflow: hidden;
}

.phoneScreen {
  position: absolute;
  top: 4%;
  left: 15%;
  width: 70%;
}

@media screen and (max-width: 1023px) {
  .itemList {
    flex-direction: column;
  }

  .item {
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0;
  }

  .title {
    font-size: 30px;
    padding-bottom: 40px;
  }

  .text {
    font-size: 15px;
  }
}
