.subscription {
    margin-top: 175px;
    margin-bottom: 100px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleText {
    padding: 0 15px;
    font-size: 60px;
    text-align: center;
}

.titleText span {
    font-weight: bold;
}

.titleText span:last-child {
    color: var(--blue);
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 145px;
    transition: .3s;
}

.cardItem {
    width: 460px;
    height: 500px;
}

@media screen and (max-width: 1366px) {
    .cards {
        margin-top: 70px;
    }

    .cardItem:first-of-type {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 765px) {
    .subscription {
        margin-top: 70px;
        margin-bottom: 0;
    }

    .divider {
        display: none;
    }

    .titleText {
        font-size: 30px;
    }

    .cardItem:first-of-type {
        margin-bottom: 50px;
    }
}
