.wrapper {
  background: url('/static/imgs/feedback/background.jpg') center no-repeat;
  padding: 100px 0;
  color: var(--white);
  background-size: cover;
}

.title {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 120px;
}

.text {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.email {
  color: var(--white);
  font-size: 30px;
  margin-bottom: 120px;
  text-align: center;
  display: block;
  font-weight: bold;
}

.mediaWrapper {
  display: flex;
  width: 220px;
  justify-content: space-between;
  margin: 0 auto;
}

.mediaItem {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mediaItem:hover {
  border-color: var(--darkblue);
}

.mediaItem:hover svg{
  fill: var(--darkblue);
}

@media screen and (max-width: 1000px) {
  .text {
    width: 90%
  }

  .title {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .text {
    font-size: 17px;
    margin-bottom: 40px;
  }

  .email {
    font-size: 20px;
  }
}
