.close {
  position: absolute;
  top: 50px;
  right: 50px;
}

.container {
  position: relative;
  width: 27px;
  height: 27px;
  transform-origin: center;
  transition: all 0.2s linear;
  cursor: pointer;
}

.container span {
  display: block;
  width: 115%;
  height: 4px;
  background: var(--white);
  position: absolute;
  overflow: hidden;
  border-radius: 2px;
}

.container span:nth-child(1) {
  transform: rotate(45deg);
  top: calc(50% - 2px);
  left: -2px; /* => height/2 */
}

.container span:nth-child(2) {
  transform: rotate(-45deg);
  top: calc(50% - 2px);
  left: -2px; /* => height/2 */
}
.container span:nth-child(2):after {
  left: 100%;
}
.container span:after {
  content: "";
  transition: all 0.2s linear;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--red);
  left: 100%;
  top: 0;
  opacity: 0;
}
.container:hover {
  transition: all 0.2s linear;
  transform: rotate(90deg);
}
.container:hover span {
  left: -2px;
}
.container:hover span:after {
  left: 0;
  opacity: 1;
  transition-delay: 0.3s;
  transition: all 0.3s linear;
}
