.button {
  border-radius: 2px;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25);
}